.font-change {
  font-size: small;
}

.custom-width {
  width: 600px;
}

.service-btn button {
  padding: 0px 20px;
  margin: 5px 5px 5px 0px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;

  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.service-btn button:hover {
  background-color: dimgrey;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-4px);
}

.icon {
  cursor: pointer;
  margin: 5px;
  display: flex;
  align-items: center;
}

.btn-bg {
  background-color: dimgrey;
}
